[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "2.0.19"
fastapi = {version = "==0.101.0", extras = ["all"]}
psycopg2-binary = "==2.9.7"

[dev-packages]

[requires]
python_version = "3.11"

[scripts]
create-tables = "python database_connection/create_tables.py"